/* :root {
  color-scheme: light dark;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#thumbnailsID {
  height: 80vh;
  width: 10vw;
  max-width: 40px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  left: 1%;
  transform: translateY(10vh);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.thumbnail {
  width: 10vw;
  background-color: rgb(238, 237, 243);
  cursor: pointer;
  max-width: 40px;
}

#backgroundID {
  display: flex;
  position: centered;
  justify-content: space-around;
  background-color: rgba(131, 127, 127, 0);
  height: 100vh;
}
@media (min-width: 680px) {
  #thumbnailsID {
    height: 10vh;
    width: 80vw;
    max-width: 80%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    bottom: 1%;
    transform: translateX(10vh);
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  #backgroundID {
    background-color: rgb(102, 102, 102);
  }
  .thumbnail {
    background-color: rgb(148, 148, 148);
  }
}

@media (prefers-color-scheme: light) {
  .body {
    background-color: rgb(255, 255, 255);
  }

  .thumbnail {
    background-color: rgb(244, 244, 245);
  }
} */
